<main>
<input type="text" placeholder="Destination">
<button>sök</button>
<a href="#"> <button>Avancerad Sökning</button> </a>
</main>
<footer>
        <a href="#" class="resa">
                <h3>Förslag för dig</h3>
                <img src="img/gothenburg.jpg" alt="Gothenburg">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. ipisicing elit. Voluptatibus.</p> 
            
        </a>
</footer>